
* { font-family: cursive;
    background-color: rgb(240, 228, 205); }

header
{
  text-align: center;
}
header img
{
  width:10vw;
}
header a
{
  font-size: 2vw;
  margin:1vw;
  color:rgb(117, 44, 44);
  background-color:unset;
  text-decoration:none;
}
header a:hover
{
  color:white;
}

.grid-container
{
  display:grid;
  grid-template-columns: 30vw 30vw 30vw;
  justify-content:space-evenly;
}

.product-item
{
  background-color:floralwhite;
  /* overflow:hidden; */
  border-style:solid;
  border-color:rgb(220, 200, 190);
  border-radius:1vw;
  border-width:0.2vw;
  padding:0.5vw;
  /* width:40vw; */
  height:auto;
  text-align:center;
}
.product-item button
{
  background-color:floralwhite;
  /* border-style:solid; */
  border-color:rgb(150, 150, 150);
  border-radius:0.5vw;
  border-width:0.2vw;
  /* padding:0.5vw; */
  width:10vw;
  /* height:auto; */
  /* text-align:center; */
}
.product-item button:hover
{
  background-color:rgb(235, 240, 255);
}
.product-item img
{
  width:100%;
  height:fit-content;
  border-radius:0.5vw;
}

footer
{
  text-align: center;
}
footer img
{
  width:4vw;
}
footer a
{
  margin:2vw;
}
